{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my blog! My name is Jordan Kelsey, and I'm passionate about programming/coding. I created this space as a project that I am doing before I start college.</p>
        <p>When I'm not coding, I will often be playing with my son or getting a quick workout in.</p>
        <p>Thank you for visiting my blog!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}